header {
	top: 0;
	/*position: relative;*/
}

address{
	font-style: normal;
}

#inquiry {
	max-width: 600px;
	height: auto;
	margin: 190px 0px 90px 200px;
}

.contactheader {
	font-size: 32px;
	color: #333333;
	line-height: 38px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.contactemail {
	position: relative;
	right: 59px;
	font-size: 32px;
	color: rgb(0,0,0);
	line-height: 35px;
	opacity: 0.4;
	display: block;
	text-transform: uppercase;
   	-webkit-transition: opacity 0.5s;
   	transition: opacity 0.5s;
  }

.contactemail:hover {
	opacity: 1.0;
}

.arrowleftcontact{
	position: relative;
	top: 6px;
}


#locations {
	width: 100%;
	padding: 0 44px 0 200px;
	box-sizing:border-box;
	overflow: hidden;
	height: auto;
	margin-bottom: 100px;
}



.acf-map {
	width: 100%;
	height: 460px;
}




.addresslarge {
	width: 100%;
	overflow: hidden;
	margin-bottom: 95px;
}

.addresstitle {
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	line-height: 16px;
	margin: 0 0 7px 0px;
	text-transform: uppercase;
}

.addressrest {
	font-size: 13px;
	color: #666666;
	line-height: 16px;
	margin: 0 0 20px 0px;
}


.address_largemap {
	width: 100%;
	height: 456px;
	/*overflow: hidden;*/
}


.address_small {
	box-sizing:border-box;
	width: 50%;
	height: auto;
	padding-right:20px;
	float: left;
	overflow: hidden;
}

.address_small:nth-child(odd) {
	padding-right:0px;
}


.address_smallmap {
	width: 100%;
	height: 400px;

}








/*******************************************

   		FOR TABLET, SMARTPHONE

*******************************************/


/* TABLET */

@media(max-width: 768px) {

#inquiry {
	margin: 190px 0px 90px 100px;
}

#locations {
	padding: 0 44px 0 100px;
}

}


/* SMARTPHONE */

@media(max-width: 480px) {

#inquiry {
	margin: 100px 0px 90px 30px;
}

.contactheader {
	font-size: 5.5vw;
	line-height: 1.2;
}

.contactemail {
	right: 0px;
	font-size: 6vw;
	line-height: 1.2;
}

.contactemail img{
	width: 20px;
	height: auto;
	position: relative;
	top: 3px;
}

#locations {
	padding: 0 30px 0 30px;
}

.addresslarge {
	margin-bottom: 60px;
}

.address_largemap {
	height: 250px;
}



.address_small {
	box-sizing:border-box;
	width: 100%;
	padding-right:0px;
	margin-bottom: 60px;

	float: none;
	clear: left;

}

.address_smallmap {
	height: 250px;
}

}




