a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}


.top2 {
	height: 100%;
	width: 100%;
	margin-top: 100px;
}


.logo {
	width: 619px; 
	height: 183px;
	margin: 0 auto;
	/*background-color: orange;*/
}


.arrow {
    width: 26px;
    height: 26px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 2px solid #979797;
	border-right: 2px solid #979797;
	cursor: pointer;
	position: absolute;
	bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


.subtitle {
	margin: 0 auto;
	text-align: center;
	font-size: 48px;
	color: #666666;
	width: 100%;
	margin-bottom: 180px;
}


.projecttitle {
	font-size: 96px;
	line-height: 106px;
	position: absolute;
	bottom: 50px;
	left: 200px;
	color: #5A5A5A;
	text-transform: uppercase;
}



.selected {
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: red;	
	position: relative;
}

.boxleft {
	width: 360px;
	margin-top: 55px;
	/*background-color: blue;*/
	float: left;
	z-index: 100;
	position: absolute;
	text-align: right;
	line-height: 28px;
	font-size: 20px;
	color: rgba(255,255,255,0.40);
}


.boxright {
	position: absolute;
	width: 360px;
	margin-top: 55px;
	/*background-color: gray;*/
	float: left;
	left: 405px;
	line-height: 28px;
	font-size: 20px;
	color: white;

}



.white {
	color: white;
}

.allwork {
	height: 185px;
	width: 100%;
	background-color: #333333;
	color: white;
	text-transform: uppercase;
	font-size: 35px; 
	line-height: 35px;
}


.viewall {
	padding-left: 120px;
	padding-top: 77px;
}






/*******************************************

				F O N T S

*******************************************/



.gravurthin {
	font-family: GravurCondensed-Thin;
}

.gravurregular {
	font-family: GravurCondensed-Regular;
}

.red {
	color: red;
}

.darkgray {
	color: #333333;
}

.darkgraytransparant {
	color: rgba(0,0,0,0.50);
}



@font-face {
  font-family: 'GravurCondensed-Thin';
  src: url('GravurCondensed-Thin.eot'); /* IE9 Compat Modes */
  src: url('GravurCondensed-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GravurCondensed-Thin.woff') format('woff'), /* Modern Browsers */
       url('GravurCondensed-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GravurCondensed-Thin.svg#fbd780114caeb9253b58c854cd808add') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'GravurCondensed-Regular';
  src: url('GravurCondensed-Regular.eot'); /* IE9 Compat Modes */
  src: url('GravurCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GravurCondensed-Regular.woff') format('woff'), /* Modern Browsers */
       url('GravurCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GravurCondensed-Regular.svg#e0ac61a45a3ab76361c76b9fb5d214c7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

