
a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}



/*******************************************

				H E A D E R 

*******************************************/


header {
	width: 100%;
	height: 80px;
	/*display: none;*/
	position: fixed;
	top: -85px;
	z-index: 100;
	background-color: white;
}



header h1 {
	float: left;
	width: 140px;
	height: 42px;
	margin-top: 19px;
	margin-left: 42px;
}

header h1 img{
	width: 100%;
	height: auto;
}


nav.menu {
	width: 310px;
	height: 100%;
	float: right;
	text-transform: uppercase;
	font-size: 13px;
	color: black;
	line-height: 16px;
	/*margin-top: 34px;*/
	margin: 0 20px 0 0;
}

nav.menu a {
	display: inline-block;
	padding: 30px 0px;
	margin: 0 20px;
	color: black;
	border-top: 4px solid #ffffff;
}
nav.menu a:hover {
	/*background-color: #fafafa;*/
	color: rgba(0,0,0,0.4);
	border-top: 4px solid #fafafa;
}

nav.menu a.current {
	border-top: 4px solid #000000;
}






/*******************************************

			L A N D I N G S P A G E 

*******************************************/



#intro {
	background-color: white;
	z-index: 50;
}

#top {
	width: 100%;
	background-color: white;
	z-index: 50;
	padding: 200px 0 80px 0;
}


.logo {
	max-width: 619px; 
	width: 70%;
	margin: 0 auto;
}

.logo > img{
	width: 100%;
	height: auto;
}

.arrow {
    width: 26px;
    height: 26px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 2px solid #979797;
	border-right: 2px solid #979797;
	/*cursor: pointer;*/
	position: absolute;
	bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


.subtitle {
	margin: 0 auto;
	text-align: center;
	font-size: 45px;
	line-height: 1.1;
	color: #333;
	width: 100%;
}




#selectedworks{
	padding: 80px 0 0 0;
}

#selectedworks>a{
	display: block;
	margin: 0;
	height: 500px;
	min-height: 412px;
	position: relative;
	overflow: hidden;
}

#selectedworks>a>article,
#selectedworks>a>article>hgroup{
	overflow: hidden;
}


#selectedworks h1 {
	font-size: 72px;
	line-height: 80px;
	position: absolute;
	font-weight: normal;
	bottom: 50px;
	left: 200px;
	margin: 0;
}

#selectedworks .onwhite {
	color: #000000;
    text-shadow: 0px 0px 15px rgba(255,255,255, .7);
}
#selectedworks .onblack {
	color: #ffffff;
    text-shadow: 0px 0px 15px rgba(0,0,0, .7);
}

#selectedworks dl {
	margin: 0;
	position: absolute;
	top: 42px;
	left: 145px;
	font-size: 13px;
}

#selectedworks dl>dt{
	display: block;
	clear: left;
	float: left;
	width: 60px;
	margin: 0 0 8px 0;	
	text-transform: uppercase;
	opacity: 0.6;
}
#selectedworks dl>dt:after{
	content: " : ";
}

#selectedworks dl>dd{
	display: block;
	float: left;
	width: 220px;
	margin: 0 0 8px 0;
}



#allwork {
	height: 185px;
	width: 100%;
	color: white;
	text-transform: uppercase;
	font-size: 35px; 
	line-height: 35px;
}

#allwork a{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #333333;
   	-webkit-transition: all 0.5s;
   	transition: all 0.5s;
}

#allwork a:hover{
	background-color: #000000;
}

.leftarrow {
	margin-left: 139px;
	margin-top: 75px;
	float: left;

}

#allwork a>span {
	float: left;
	margin-top: 77px;
	padding-left: 20px;
	color: rgba(255,255,255,0.6);

   	-webkit-transition: all 0.5s;
   	transition: all 0.5s;
}


#allwork a:hover>span {
	color: rgba(255,255,255,1.0);
}


/*******************************************

   				F O O T E R

*******************************************/



footer {
	/*height: 268px;*/
	font-size: 13px;
	position: relative;
	float: left;
	padding: 60px 40px 60px 121px;
}

footer a{
	opacity: 0.4;
}
footer a:hover{
	opacity: 1;
}

footer h3{
	font-size: 13px;
	margin: 0 20px 0 0;
	line-height: 16px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	color: #cccccc;
	width: 59px;
	text-align: right;
	font-weight: normal;
}

footer h4{
	color: #333;
	text-transform: uppercase;
	line-height: 16px;
	margin: 0;
	font-weight: normal;
}

footer #contact{
	width: 219px;
	margin: 0px 50px 0 0;
	float: left;
}

footer #contact p{
	color: #333;
	float: left;
	width: 140px;
	text-transform: uppercase;
	line-height: 16px;	
	margin: 0 0 30px 0;
}

footer #contact p>span{
	display: block;
	margin: 8px 0 0 0;
}


footer #offices{
	float: left;
	overflow: hidden;
	margin: 0px 0 30px 0px;
	width: 380px;
}

footer #offices>div{
	float: left;
	width: 150px;
}

footer #offices p{
	line-height: 16px;
	color: #999999;
	margin: 8px 0 0 0;
}

footer #social{
	width: 219px;
	margin: 0px 100px 30px 0;
	float: left;	
	clear: left;
}

footer #social>div>a.twitter{
	margin: 0 5px 0 0;
}

footer #social>div>a.facebook{
}


/*******************************************

   		FOR TABLET, SMARTPHONE

*******************************************/


/* TABLET */

@media(max-width: 768px) {


	footer {
		padding: 60px 40px 60px 21px;
	}


	.subtitle{
		font-size: 5vw;
	}

	#selectedworks h1 {
		font-size: 72px;
		line-height: 80px;
		bottom: 50px;
		left: 100px;
	}


	#selectedworks dl {
		/*top: 42px;*/
		left: 45px;
	}

	.leftarrow {
		margin-left: 39px;
	}


}


/* SMARTPHONE */

@media(max-width: 480px) {


header{
	height: 60px;
}


header h1 {
	width: 30%;
	margin-top: 17px;
	margin-left: 15px;
	padding: 0;
}

nav.menu {
	width: 60%;
	font-size: 10px;
	margin: 0 10px 0 0;
	text-align: right;
}

nav.menu a {
	padding: 18px 0px;
	margin: 0 5px;
}


#top {
	padding: 100px 0 40px 0;
}

#selectedworks{
	padding: 0;
}


#selectedworks>a{
	min-height: 220px;
}

#selectedworks h1 {
	font-size: 10vw;
	line-height: 1.1;
	bottom: 15px;
	left: 30px;
	margin: 0;
}


#selectedworks dl {
	display: none;
	top: 30px;
	left: 30px;
	font-size: 12px;
}

#selectedworks dl>dt{
	width: 40px;
}
#selectedworks dl>dd{
	width: 220px;
	margin: 0 0 8px 0;
}


#allwork {
	height: 90px;
	font-size: 18px; 
	line-height: 1;
}



.leftarrow {
	width: 20px;
	height: auto;
	margin-left: 30px;
	margin-top: 36px;
}

#allwork a>span {
	margin-top: 37px;
	padding-left: 15px;
	color: rgba(255,255,255,0.6);
}

footer {
	font-size: 10px;
	padding: 30px 40px 30px 30px;
	width: 100%;
	box-sizing: border-box;
}

footer h3{
	font-size: 10px;
	margin: 0 0 10px 0;
	line-height: 12px;
	float: none;
	width: 50%;
	text-align: left;
}

footer h4{
	line-height: 12px;
	margin: 0;
	font-weight: normal;
}

footer #contact{
	width: 100%;
	margin: 0px 0px 0 0;
	float: none;
}

footer #contact p{
	float: left;
	width: 100%;
	text-transform: uppercase;
	line-height: 12px;	
	margin: 0 0 30px 0;
}

footer #contact p>span{
	margin: 4px 0 0 0;
}


footer #offices{
	float: none;
	margin: 0px 0 30px 0px;
	width: 100%;
}

footer #offices>div{
	width: 50%;
}

footer #offices p{
	line-height: 12px;
	margin: 4px 0 0 0;
}

footer #social{
	width: 100%;
	float: none;	
}

}


/*******************************************

   		F O N T S, C O L O R S 

*******************************************/



.red {
	color: red;
}

.white {
	color: white;
}

.darkgray {
	color: #333333;
}

.darkgraytransparant {
	color: rgba(0,0,0,0.50);
}

.gravurthin {
	font-family: GravurCondensed-Thin;
}

.gravurlight {
	font-family: GravurCondensed-Light;
}

.gravurregular {
	font-family: GravurCondensed-Regular;
}

/*
.gravurbold {
	font-family: GravurCondensed-Bold;

}
*/

.sabonbold {
	font-family: sabonbold;

}


@font-face {
  font-family: 'GravurCondensed-Thin';
  src: url('GravurCondensed-Thin.eot'); /* IE9 Compat Modes */
  src: url('GravurCondensed-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GravurCondensed-Thin.woff') format('woff'), /* Modern Browsers */
       url('GravurCondensed-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GravurCondensed-Thin.svg#fbd780114caeb9253b58c854cd808add') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'GravurCondensed-Light';
  src: url('GravurCondensed-Light.eot'); /* IE9 Compat Modes */
  src: url('GravurCondensed-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GravurCondensed-Light.woff') format('woff'), /* Modern Browsers */
       url('GravurCondensed-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GravurCondensed-Light.svg#fbd780114caeb9253b58c854cd808add') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'GravurCondensed-Regular';
  src: url('GravurCondensed-Regular.eot'); /* IE9 Compat Modes */
  src: url('GravurCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GravurCondensed-Regular.woff') format('woff'), /* Modern Browsers */
       url('GravurCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GravurCondensed-Regular.svg#e0ac61a45a3ab76361c76b9fb5d214c7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}


/*
@font-face {
  font-family: 'GravurCondensed-Bold';
  src: url('GravurCondensed-Bold.eot'); 
  src: url('GravurCondensed-Bold.eot?#iefix') format('embedded-opentype'), 
       url('GravurCondensed-Bold.woff') format('woff'), 
       url('GravurCondensed-Bold.ttf')  format('truetype'), 
       url('GravurCondensed-Bold.svg#9c8be81aefa82b708522e30f595cd9d7') format('svg');        
  font-style:   normal;
  font-weight:  700;
}
*/


@font-face {
  font-family: 'sabonbold';
  src: url('SabonLTStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('SabonLTStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SabonLTStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('SabonLTStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SabonLTStd-Bold.svg#70ee491c7f6360e9684699aa507e5d7d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}








