header {
	top: 0;
	position: relative;
}

.image {
	width: 100%;
	height: 580px;
	overflow: hidden;
	position: relative;
}

.itemtitle {
	margin: 320px 0px 30px 200px;
	font-size: 64px;
	line-height: 70px;	
}


.leftarrowproject {
	position: relative;
	top: 5px;
}


.itemcta {
	margin-left: 138px;
	font-size: 32px;
	line-height: 35px;
}


.cta {
	padding-left: 10px;
}


.textblock {
	margin: 100px 140px 0px 200px;
}


.projectblurb {
	margin-bottom: 30px;
	font-size: 32px;
	line-height: 38px;
	color: #666666;
	text-transform: uppercase;
}


.projecttext {
	font-size: 14px;
	color: #666666;
	line-height: 20px;
	width: 380px;
	height: auto;
	margin-bottom: 100px;
}



/*******************************************

			C R E D I T S

*******************************************/



.credits {
	width: 250px;
	line-height: 20px;
	color: #666666;
	font-size: 12px;
	margin: 90px 0px 125px 200px;
	/*background-color: blue;*/

}

.creditstitle {
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 7px;
}

.creditsleft {
	float: left;
}

.creditsright {
	float: right;
}


/*******************************************

		  N E X T P R O J E C T

*******************************************/




.nextproject {
	height: 130px;
	padding-top: 65px;
	width: 100%;
	background: url( ../img/focusgear.png ) no-repeat 1% 1% scroll;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.next {
	float: left;
	/*background-color: blue;*/
	width: 100%;
	font-size: 14px;
	line-height: 16px;
}

.next-top {
	/*background-color: orange;*/
	margin-left: 200px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
	float: left;
	width: 100%;

}


.next-bottom {
	/*background-color: red;*/
	float: left;
	margin-left: 131px;
	display: inline-block;
	width: 100%;
}

.leftarrowproject {
	float: left;
	position: relative;
	top: -1px;
}


.nexttitle {
	float: left;
	font-size: 32px;
	line-height: 35px;
	margin-left: 22px;

}







