header {
	top: 0;
}

.work_wrapper {
	padding: 0;
	margin: 80px 0 0 0;
	display: flex;
	flex-flow: row wrap;
	background-color: #fafafa;
	overflow: hidden;
}

article{
    position: relative;
    overflow: hidden;
    float: left;
    width: 33.333333%;
}


@media (min-width: 1280px) {
article{
    width: 25%;
}

}

article:before{
	content: "";
    display: block;
    padding-top: 100%;
}

article>a{
	display: block;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

article>a>div{
	display: table;
   	background-color: rgba(0,0,0,0.5);
   	width: 101%;
   	height: 101%;
}

article>a:hover>div{
   	opacity: 1;
}



article h2,
article dl {
	color: white;
	margin: 0;
}

article dl{
	padding: 30px 20px 0 30px;
	font-size: 12px;
	overflow: hidden;
}

article dl>dt{
	display: block;
	float: left;
	clear: left;
	width: 40px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	color: rgba(255,255,255,0.6);
}
article dl>dt:after{
	content: ":"
}


article dl>dd{
	display: block;
	margin: 0;
	float: left;
	width: auto;
	margin: 0 0 5px 0;
}

article h2{
	clear: both;
	margin: 10px 20px 20px 70px;
	font-size: 32px;
	font-weight: normal;
	line-height: 36px;
}



/*******************************************

   		FOR TABLET, SMARTPHONE

*******************************************/




/* TABLET */

@media (max-width: 1024px) and (max-device-width:1024px) {

article>a>div>div{
   	width: 100%;
   	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.6) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.6) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.6) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.6) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
}

article dl{
	display: none;
}

article h2{
	margin: 0;
	font-size: 4.0vw;
	line-height: 1.2;
	position: absolute;
	left: 15px;
	bottom: 10px;
}

}



/* SMARTPHONE */

@media(max-width: 480px) {


.work_wrapper {
	margin: 60px 0 0 0;
}

article{
    width: 50%;
}

article h2{
	font-size: 5vw;
	left: 10px;
	bottom: 5px;
}



}





